<div class="container" *ngFor="let company of companies">
  <div class="row">
    <div class="col-md-6 img">
      <img src={{company.photoString}}  alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>{{company.name}}</h5>
        <small><cite title="Source Title">{{company.explanation}} <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        {{company.email}} <br>
        {{company.address}} <br>
        {{company.phoneNumber}}
      </p>
      <a href="/company/edit_company/{{company.id}}">Düzenle</a>
      <a (click)="deleteCompany(company.id)">Sil</a>
    </div>
  </div>
</div>