<div class="container" *ngFor="let job of jobs">
  <div class="row">
    <div class="col-md-6 img">
      <img src="https://www.artistiko.net/assets/front/images/mediagallery/showcase/socialecom.jpg"  alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>{{job.name}}</h5>
        <small><cite title="Source Title">Chicago, United States of America  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        fionagallager@shameless.com <br>
        www.bootsnipp.com <br>
        June 18, 1990
      </p>
      <a href="/job/edit_job/{{job.id}}">Düzenle</a>
      <a (click)="deleteJob(job.id)">Sil</a>
    </div>
  </div>
</div>